/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* -------- GENERAL -------- */


   html  {
       font-size: 16px;
   }

   body  {
       color: #5d6063;
       background-color: #d3d3d3;
       font-family: 'Roboto', sans-serif;
       font-size: 1em;
   }

   main  {
    /*background-color: #7f8688;*/
    color: #d3d3d3;
    margin: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    /*background-color: #5b6467;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);*/
    /*background-image: linear-gradient(to right bottom, #4d4f53, #42474a, #383f3f, #313734, #2c2e29);*/
    background-image: linear-gradient(to right bottom, #6c6e73, #575d60, #444c4c, #353b38, #282a25);
}

ul,
ol  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h1, h2, h3  {
    font-family: 'Roboto Condensed', sans-serif;
}

h2  {
    padding-top: 20px;
}

p {
    line-height: 1.3;
}

img {
    width: 100%;
}

figure  {
    margin: 0;
    padding: 30px 0;
}

.content-wrapper  {
    margin: 0 20px;
    width: 80%;
}


/* -------- BASE HEADER AND FOOTER STYLES -------- */


header  {
    margin: 0;
    border: 1px solid #a9a9a9;
    margin: 20px;
    border-radius: 3px;
}

header .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
}

.header-container {
    display: flex;
      justify-content: inherit;
      align-items: inherit;
      flex-flow: row wrap;
    font-size: 1.1em;
    margin: 0;
    padding-left: 5px;
    width: 70%;
}

header .social-icons {
    display: flex;
    justify-content: space-around;
}

header nav  {
    width: 90%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

header nav ul li  {
    display: flex;
    justify-content: space-around;
}

.content-wrapper .personal-icons  {
    /*display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-flow: row wrap;
    margin: 0;
    width: 100%;
    border: 1px solid red;*/
    display: flex;
      justify-content: flex-end;
      align-items: inherit;
      flex-flow: row wrap;
    font-size: 1.1em;
    margin: 0;
    width: 25%;
}

.content-wrapper .personal-icons p i  {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}


/* -------- MOBILE -------- */


/* Hero Area */

.hero-area  {
    height: 100%;
}

.hero-area .content-wrapper {
    padding: 75px 0;
}

.hero-area figure {
    margin: 0;
    width: 50%;
}

.hero-area h1 {
    font-size: 3em;
}

.hero-area p  {
    font-size: 1.3em;
    color: #f3e367;
}

/* Aside */

aside {
    /*font-size: 0.9em;*/
    line-height: 0.5;
    border: 1px solid #a9a9a9;
    margin: 20px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
}

/*.personal-description {
    padding-top: 50px;
}*/

/*.tagline  {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    line-height: 0.5;
}*/

/* Features */

.features {
    line-height: 1.3em;
    /*border: 1px solid #f3e367;*/
    margin: 20px;
    border-radius: 3px;
    /*padding: 20px 0;*/
    border-left: 1px solid #f3e367;
    /*border-right: 1px solid #f3e367;*/
}

/* Projects */

.projects {
    /*border: 1px solid #a9a9a9;*/
    border-radius: 3px;
    margin: 20px;
    border-right: 1px solid #a9a9a9;
}



.projects article {
    padding: 20px 0;
}

/*.projects article {
    border-top: 1px solid #d3d3d3;
}*/

/*.projects figure  {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0;
}*/

.solution {
    color: #f3e367;
}

/* Footer */

footer  {
    border: 1px solid #a9a9a9;
    margin: 20px;
    border-radius: 3px;
}

footer .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    margin-left: 30px;
    width: 85%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /*text-align: center;*/
}

/*.contact h2 span  {
    font-family: 'Roboto Mono', monospace;
}*/

.footer-content .contact p  {

}

.footer-content .contact p span {

}

.footer-content .contact a  {
    border: 1px solid #a9a9a9;
    padding: 5px;
    border-radius: 3px;
}














 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
